#connect {
  padding: 25px 0;
  @include respondToBelow(sm) {
    padding: 0;
  }
  .row {
    align-items: center;
    @include respondToBelow(sm) {
      flex-direction: column;
      margin: 0;
      > div {
        width: 100%;
        padding: 0 30px;
      }
    }
  }
  .leftList {
    @include respondToBelow(sm) {
      padding: 30px;
      .flexIt {
        flex-direction: column;
        > * {
          width: 100%;
          padding: 0;
        }
        ul {
          padding: 15px;
        }
      }
    }
    .illust {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 200px;
      }
    }

    ul {
      width: 50%;
      padding-left: 75px;
      li {
        line-height: 1.5;
        font-size: 14px;
        margin-bottom: 7px;
        position: relative;
        &:first-child {
          font-weight: bold;
        }
        svg {
          position: absolute;
          top: 0;
          left: -30px;
        }
      }
    }
    #maps {
      margin-top: 35px;
      border: solid 2px $border_color;
      border-radius: 15px;
      overflow: hidden;

      @include respondToBelow(sm) {
        margin-top: 15px;
        iframe {
          height: 150px;
        }
      }
      .gmaps {
        width: 100%;
        iframe {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  .rightList {
    @include respondToBelow(sm) {
      padding: 30px !important;
    }
    form {
      h4 {
        text-align: center;
      }
      .form_row {
        .actions {
          button {
            width: 100%;
          }
        }
        .flexIt {
          margin: 0 -10px;
          flex-wrap: wrap;
          label {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 5px;
            span {
              padding: 3px 10px;
              font-size: 14px;
              border-radius: 5px;
              color: $dark_base_color;
              border: solid 1px $dark_base_color;
            }
            input {
              position: absolute;
              opacity: 0;
              &:checked {
                & + span {
                  background: $dark_base_color;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
