#intro {
  .img_grid {
    min-height: 100vh;
    background-image: url(../images/church-crowd.png);
    background-position-x: left;
    background-position-y: center;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    @include respondToBelow(sm) {
      min-height: 70vh;
      background-position: bottom center;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      // width: 40%;
      top: 0;
      bottom: 0;
      background: $black_bg;
      z-index: 1;
      @include respondToBelow(sm) {
        height: 200%;
        width: 400%;
        border-radius: 50%;
        transform: translate(-50%, -75%);
      }
    }
    .inner {
      z-index: 2;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, $black_bg, rgba($black_bg, 0.7));
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .container {
        width: 100%;
        h4 {
          margin-top: 50px;
          font-size: 5vw;
          color: #fff;
        }
        @include respondToBelow(sm) {
          text-align: center;
          h4 {
            font-size: 8vw;
            margin-bottom: 0;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
section {
  .container {
    padding: 50px 0;
    a:not(.button) {
      color: $wb-blue;
      font-weight: 600;
    }
  }
}

.strongTitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  @include respondToBelow(sm) {
    font-size: 16px;
  }
}

.home {
  .req_btn_style {
    margin-top: 25px;
    min-width: 250px;
    @include respondToBelow(sm) {
      min-width: 150px;
    }
  }
}

.about {
  .modernLine {
    margin-top: 10px;
  }
  .solid {
    font-weight: 600;
  }

  .readmore {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .button {
    margin-top: 25px;
  }
  .row {
    @include respondToBelow(sm) {
      margin: 0;
    }
    .col {
      padding: 75px;
      @include respondToBelow(sm) {
        padding: 15px;
        text-align: center;
      }
    }
  }
  .container {
    @include respondToBelow(sm) {
      padding-bottom: 0;
    }
  }
  .splitRow {
    margin: 15px 0 0;
    background: #fff;
    padding: 15px 0;
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      color: #fff;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
        background: linear-gradient(
          to bottom,
          rgba($black_bg, 0.9) 70%,
          rgba($black_bg, 0.7)
        );
      }
      &:before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 0;
        filter: grayscale(1);
      }

      > * {
        position: relative;
        z-index: 4;
      }

      &.kids {
        &::before {
          background-image: url(../images/kids_bg.jpg);
        }
      }
      &.youth {
        &::before {
          background-image: url(../images/youth_bg.jpg);
        }
      }
      @include respondToBelow(sm) {
        padding: 0;
        max-width: calc(100% - 80px);
        margin: 15px;
        overflow: hidden;
        &:before {
          background-size: auto 100%;
        }
        h4 {
          margin-bottom: 10px;
          font-size: 20px;
        }
        .inWrap {
          padding: 15px;
        }
        p {
          font-size: 13px;
          line-height: 1.5;
        }
        &.kids {
          margin-right: 80px;
          margin-left: 0;
          border-radius: 0 15px 15px 0;
        }
        &.youth {
          margin-left: 80px;
          margin-right: 0;
          border-radius: 15px 0 0 15px;
        }
      }
    }
  }
}
.ministries {
  h4 {
    text-align: center;
  }
  .row {
    justify-content: center;
    margin-bottom: 35px;
    @include respondToBelow(sm) {
      margin: 15px;
      flex-wrap: nowrap;
      overflow: auto;
      padding: 15px;
      justify-content: flex-start;
      .col {
        padding: 0;
        margin-right: 25px;
        &:first-child {
          margin-left: 10%;
        }
        .cardDesc {
          font-size: 14px;
        }
      }
    }
  }
  .card {
    border-radius: 25px;
    overflow: hidden;
    @include respondToAbove(md) {
      transform: scale(0.9);
    }
    .cardimg {
      height: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      @include respondToAbove(md) {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        transform: translate(-30%, -30%);
      }
      @include respondToBelow(sm) {
        margin: -15px -15px 15px;
      }
    }
    .strongTitle {
      margin: -25px 0 10px;
      font-weight: 900;
      @include respondToBelow(sm) {
        margin-top: 15px;
      }
    }
  }
  .col:nth-child(2) .card {
    transform: scale(1);
  }
  .bsdy {
    background-image: url("../images/bible_study.jpg");
  }
  .enc_eve {
    background-image: url("../images/encounter_evening.jpg");
  }
  .youth_meet {
    background-image: url("../images/youth_meet.jpg");
  }
}

.team {
  background: white;
  position: relative;
  text-align: right;

  .row {
    margin: 0;
    align-items: center;
    .col {
      padding: 0 100px;
      @include respondToBelow(sm) {
        padding: 50px 15px;
        text-align: center;
        p {
          font-size: 14px;
        }
      }
      & ~ .col {
        padding: 50px 0;
        display: flex;
        justify-content: flex-end;
        @include respondToBelow(sm) {
          padding-top: 0;
          text-align: center;
        }
      }
    }
  }

  .modernLine {
    margin-top: 10px;
  }
  .solid {
    font-weight: 600;
  }
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
