#intro {
  .img_grid {
    min-height: 100vh;
    background-image: url(../images/church-crowd.png);
    background-position-x: left;
    background-position-y: center;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    @include respondToBelow(sm) {
      min-height: 70vh;
      background-position: bottom center;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 40%;
      top: 0;
      bottom: 0;
      background: $black_bg;
      z-index: 1;
      @include respondToBelow(sm) {
        height: 200%;
        width: 400%;
        border-radius: 50%;
        transform: translate(-50%, -75%);
      }
    }
    .inner {
      z-index: 2;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, $black_bg, rgba($black_bg, 0.7));
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        width: 100%;
        h4 {
          font-size: 6vw;
          color: #fff;
        }
        @include respondToBelow(sm) {
          text-align: center;
          h4 {
            font-size: 8vw;
            margin-bottom: 0;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
.home {
  .req_btn_style {
    margin-top: 35px;
    min-width: 250px;

    @include respondToBelow(sm) {
      min-width: 150px;
    }
  }
}

.sermon {
  .post {
    display: flex;
    align-items: center;
    @include respondToBelow(sm) {
      display: block;
      padding: 0 15px;
    }
    .vid {
      height: 400px;
      width: 60%;
      display: flex;
      @include respondToBelow(sm) {
        width: 100%;
        height: 200px;
      }
      iframe {
        height: 100%;
        width: 100%;
      }
    }
    .desc {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      @include respondToBelow(sm) {
        width: 100%;
        text-align: center;
      }
    }
  }
  .tease {
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    @include respondToBelow(sm) {
      font-size: 16px;
      margin-top: 15px;
      padding: 0 15px;
    }
  }
  a {
    color: $dark_base_color;
  }
}
.section {
  padding: 100px 0;
  @include respondToBelow(sm) {
    padding: 50px 0;
  }
  h4 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 1px $black_bg;

    @include respondToBelow(sm) {
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-size: 30px;
    }
  }
}
.upto {
  background: #fff;
  .container {
    @include respondToBelow(sm) {
      padding: 25px;
    }
  }
  .theList {
    .item {
      .img {
        padding: 15px;
        background: #fff;
        border-radius: 10px;
        @include shadow;
        overflow: hidden;
        img {
          transform: scale(1.2);
        }
      }
      .desc {
        padding: 15px;
      }
    }
  }
}
.prayerReq {
  .prayerDesc {
    text-align: center;
    max-width: 50%;
    margin: auto;
    @include respondToBelow(sm) {
      max-width: 90%;
    }
    p {
      text-align: justify;
      font-size: 20px;
      @include respondToBelow(sm) {
        font-size: 16px;
      }
    }
  }
}
.strongTitle {
  font-size: 22px;
  font-weight: 900;
  padding-bottom: 5px;
  border-bottom: solid 1px $dark_base_color;
  margin-bottom: 5px;
}
