#ministries {
  .container {
    padding-top: 82px;
    padding-bottom: 140px;
    min-height: 100vh;
    @include respondToBelow(sm) {
      padding: 0;
    }
    .main-heading-ttl {
      margin-top: -25px;
      text-align: center;
      font-size: 4vw;
      @include respondToBelow(sm) {
        font-size: 8vw;
        margin: 0;
      }
    }
    .miniGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include respondToBelow(sm) {
        padding: 25px;
      }
      > div {
        @include respondToAbove(md) {
          width: calc(33.333% - 50px / 2);
          margin-bottom: 35px;
          &:nth-child(3n + 2) {
            transform: translateY(70px);
          }
          &:nth-child(3n + 1) {
            transform: translateY(140px);
          }
        }
        @include respondToBelow(sm) {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.flipcard {
  perspective: 1500px;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
  }
  &:hover {
    .content {
      transform: rotateY(180deg);
      .description {
        overflow: auto;
      }
    }
  }
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
    .inner {
      height: 100%;
      padding: 30px;
      transform: translateZ(80px) scale(0.94);
    }
  }
  .front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    &.care {
      background-image: url(../images/care.jpg);
    }
    &.youth {
      background-image: url(../images/youth.jpg);
    }
    &.prayer {
      background-image: url(../images/prayer.jpg);
    }
    &.kids {
      background-image: url(../images/kids.jpg);
    }
    &.worship {
      background-image: url(../images/worship.jpg);
    }
    &.lifegroup {
      background-image: url(../images/lifegroup.jpg);
    }
    .inner {
      backface-visibility: hidden;
      display: flex;
      align-items: flex-end;
    }

    h4 {
      font-size: 35px;
      background: #fff;
      font-weight: 900;
      color: $black_bg;
      padding: 10px 25px;
      margin: 0;
      @include shadow;
      @include respondToBelow(sm) {
        font-size: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }

  .back {
    position: static;
    transform: rotateY(180deg);
    background: linear-gradient(40deg, $dark_base_color, $dark_base_color_2);
    padding: 15px;
    .inner {
      @include respondToBelow(sm) {
        padding: 0;
      }
    }
    .description {
      border-radius: 5px;
      line-height: 1.5;
      font-weight: 600;
      height: 100%;
      overflow: hidden;
      text-align: justify;
      font-size: 18px;
      color: #fff;
      padding-right: 10px;
      backface-visibility: none;
    }
  }
}
