.sermonsPage {
  #header-container {
    .header {
      background: linear-gradient(to bottom, #fff, #fff, #fff);
      transition: all 0.25s;
    }
    .header.false {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      );
    }
  }
}
#Sermons {
  padding: 0 0 100px;
  .main-heading-ttl {
    text-align: center;
    margin: 10px 0;
  }
  .headerTitle {
    .inWrap {
      position: relative;
      height: 70vh;
      z-index: 0;
      @include respondToBelow(sm) {
        height: 50vh;
      }
    }
    .ytImg {
      transition: all 0.35s;
      object-fit: cover;
      height: 100%;
      width: 100%;
      @include respondToBelow(sm) {
        transform: translateY(-40px);
      }
    }
    .play {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 50px;
      width: 75px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background: $wb-grad;
      margin: auto;
      cursor: pointer;
      transition: all 0.35s ease-in-out;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      svg {
        color: #fff;
        height: 30px;
        width: 30px;
        transition: all 0.35s ease-in-out;
      }
      &:hover {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        transform: rotate(180deg);
        svg {
          height: 50px;
          width: 50px;
          transform: rotate(-180deg);
        }
      }
    }
  }
  .container {
    background: #fff;
    padding: 15px;
    margin-top: -100px;
    position: relative;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  }
  .ytlist {
    display: flex;
    flex-wrap: wrap;

    .dot {
      background: #fff;
      color: red;
      height: 40px;
      width: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      position: absolute;
      left: 5px;
      top: 5px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
      z-index: 2;
      svg {
        height: 25px;
        width: 25px;
      }
    }
    .ytitem {
      width: 25%;
      padding: 15px;
      cursor: pointer;
      @include respondToBelow(sm) {
        width: 100%;
        padding: 10px 10px 15px;
      }

      .inWrap {
        background: #000;
        height: 350px;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          opacity: 0.5;
          background: radial-gradient(rgba(0, 0, 0, 0), #000);
          z-index: 1;
          transition: all 0.35s;
        }
        img {
          transition: all 0.35s;
          object-fit: cover;
          height: 100%;
          transform: translateY(-70px);
          filter: grayscale(1);
          width: 100%;
        }
        .ytTitle {
          position: absolute;
          padding: 10px;
          border-radius: 10px;
          left: 10px;
          bottom: 10px;
          right: 10px;
          color: #fff;
          font-weight: 500;
          background: $wb-grad;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          z-index: 2;
        }
      }

      &:hover {
        .inWrap {
          &:after {
            opacity: 0;
          }
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@keyframes playing {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

reach-portal {
  .dialogOverlay {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    > .dialogContent {
      width: 75vw;
      position: relative;
      .close {
        cursor: pointer;
        background: $wb-grad;
        right: -50px;
        top: -50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: absolute;
        svg {
          height: 30px;
          width: 30px;
          color: #fff;
        }
      }
      iframe {
        margin: -33px -33px 30px;
        width: calc(100% + 66px);
        height: 60vh;
      }
      h1 {
        margin: 0;
      }
    }
  }
}

.goToTop.button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9;
  height: 50px;
  min-width: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15), 0 0 0 4px $dark_base_color;
  svg {
    color: $dark_base_color;
    height: 35px;
    width: 35px;
  }
}
