.card {
  background: $white;
  padding: 30px;

  &:not(.no-shadow) {
    @include card_shadow;
  }
  &.noPad {
    padding: 0;
  }
  &.border {
    border: solid 1px $border_color;
  }
  padding: $gutter_width;
  &.large {
    padding: $gutter_width_more;
  }
  &.small {
    padding: $gutter_width_xs;
  }
  @include respondToBelow(sm) {
    padding: $gutter_width_xs;
  }
}

#nue {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > .tada {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 50px;
    max-width: 700px;
    background: #e2ecf6;
    box-shadow: rgba(163, 177, 198, 0.6) 9px 9px 16px,
      rgba(255, 255, 255, 0.5) -9px -9px 16px;
    @include respondToBelow(sm) {
      margin: 30px;
      padding: 30px;
    }
    h1 {
      margin: 0;
      font-weight: 900;
      font-size: 7vw;
      line-height: 1.5;

      @include respondToBelow(sm) {
        font-size: 10vw;
      }
      color: #e2ecf6;
      text-shadow: rgba(163, 177, 198, 0.6) 2px 2px 3px,
        rgba(255, 255, 255, 0.5) -2px -2px 3px;
    }
  }
}
