#footer {
  text-transform: uppercase;
  background: #fff;
  margin-top: 50px;
  .midFooter {
    padding: 35px;
    @include respondToBelow(sm) {
      padding: 35px 15px;
    }
    .row {
      align-items: center;
      .col {
        font-size: 14px;
        @include respondToBelow(sm) {
          & ~ .col {
            margin-top: 25px;
          }
        }
        &.addr {
          @include respondToAbove(md) {
            padding-right: 50px;
          }
          @include respondToBelow(sm) {
            p {
              font-size: 14px;
            }
          }
        }
        &.ctaction {
          padding: 0 30px;
          @include respondToBelow(sm) {
            padding: 0 15px;
          }
          p.icon {
            margin-bottom: 10px;
            align-items: center;

            svg {
              height: 20px;
              width: 20px;
              margin-right: 15px;
            }
          }
        }
        ul {
          display: flex;
          width: 100%;
          justify-content: center;
          @include respondToBelow(sm) {
            justify-content: space-between;
          }
          li {
            a {
              padding: 15px;
              svg {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
  .copy {
    background: $black_bg;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
}
