.header {
  display: flex;
  transition: all 0.35s;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: 15px 30px 15px 30px;
  top: 0;
  left: 0;
  right: 0;
  @include respondToBelow(sm) {
    padding: 15px;
  }
  #nav-menu-container {
    width: 40%;
    .nav-menu {
      li {
        a {
          transition: all 0.35s;
          color: $white;
          text-transform: uppercase;
          &:hover {
            color: $dark_base_color !important;
            font-weight: 900;
          }
        }
      }
      display: flex;
      justify-content: space-between;
      @include respondToBelow(sm) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 80%;
        background: $white;
        flex-direction: column;
        justify-content: flex-start;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        pointer-events: none;
        transition: all 0.35s;
        li {
          transition: all 0.35s;
          transform: translateX(-100%);
          opacity: 0;
          a {
            padding: 10px 25px;
            color: $text_primary_color;
            font-weight: 900;
            width: 100%;
            font-size: 5vw;
            display: block;
          }
          &.logo {
            padding: 50px;
            padding-left: 15px;
            position: relative;
            overflow: hidden;
            transform: translateY(-100%);
            a {
              padding: 0;
              box-shadow: none;
            }
            margin-bottom: 25px;
            img {
              position: relative;
              z-index: 9;
            }
            &:before {
              content: "";
              position: absolute;
              z-index: 1;
              background: $black_bg;
              height: 100vh;
              width: 100vh;
              right: -50%;
              bottom: 0;
              border-radius: 50%;
            }
          }
        }
        &.active {
          transform: rotate(0);
          opacity: 1;
          pointer-events: auto;
          li {
            transform: translate(0);
            opacity: 1;
            @for $i from 1 to 10 {
              &:nth-child(#{$i}) {
                transition-delay: (7 - $i) * 0.15s;
              }
            }
            &.logo {
              transition: all 0.35s 0.5s;
            }
          }
        }
      }
    }
  }

  .logo-brand {
    display: block;
    height: auto;
    width: 250px;
    height: 50px;
    transition: all 0.35s;
    background-image: url(../images/logo-white.svg);
    background-position: top left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    @include respondToBelow(xs) {
      width: 150px;
      height: 40px;
    }
  }
}

.header.true,
#page:not(.fixed_top) .header {
  background: $white;
  @include shadow;
  #nav-menu-container {
    .nav-menu {
      li {
        a {
          color: $black_bg;
        }
      }
    }
  }
  .logo-brand {
    background-image: url(../images/logo-black.svg);
  }
}

.toggle {
  display: block;
  cursor: pointer;
  .menu {
    margin-left: auto;
    width: 20px;
    height: 14px;
    position: relative;
    margin-right: 10px;
    transform: scale(1.5);
    transition: all 0.35s;
    > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: transform 0.5s ease;
      span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        &:first-child {
          top: 0;
          &:before,
          &:after {
            top: 0;
          }
        }
        &:last-child {
          bottom: 0;
          &:before,
          &:after {
            bottom: 0;
          }
        }
        &:before,
        &:after {
          content: "";
          display: block;
          width: 47%;
          height: 2px;
          border-radius: 1px;
          background: $white;
          .true & {
            background: $black_bg;
          }
          position: absolute;
          -webkit-backface-visibility: hidden;
          transition: transform 0.5s ease, border-radius 0.3s ease,
            background 0.4s ease;
        }
        &:before {
          left: 0;
          transform-origin: 0 50%;
          transform: translate(1px, 0) scaleX(1.1);
        }
        &:after {
          right: 0;
          transform-origin: 100% 50%;
          transform: translate(-1px, 0) scaleX(1.1);
        }
      }
    }
    svg {
      display: block;
      fill: none;
      stroke: $white;
      .true & {
        stroke: $black_bg;
      }
      stroke-width: 2px;
      width: 44px;
      height: 44px;
      stroke-linecap: round;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -22px 0 0 -22px;
      stroke-dasharray: 0 82.801 8 82.801;
      stroke-dashoffset: 82.801;
      transform-origin: 50% 50%;
      -webkit-backface-visibility: hidden;
      transform: scale(1);
      transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
        transform 0.5s ease, stroke 0.4s ease;
      &:nth-child(3) {
        transform: rotate(180deg) scale(1);
      }
    }
    &.active {
      transform: scale(1);
      div {
        transform: rotate(90deg);
        span {
          &:before,
          &:after {
            background: $white;
            .true & {
              background: $black_bg;
            }
          }
          &:first-child {
            &:before {
              transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
            }
          }
          &:last-child {
            &:before {
              transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
            }
          }
        }
      }
      svg {
        stroke-dashoffset: 62;
        stroke-dasharray: 0 82.801 62 82.801;
        transform: rotate(90deg);
        stroke: $white;
        .true & {
          stroke: $black_bg;
        }
        &:nth-child(3) {
          transform: rotate(270deg);
        }
      }
    }
  }
}
